.about-us {

  &__member {
    position: relative;
    width: 90%;
    outline:1px solid #e0e0e0;
    outline-offset: 0.1em;
    padding: 2%;
    cursor: pointer;
  }

  &--lastmember {
    text-align: center;

  }

  &__image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;

    &:hover {
      opacity: 0.3;
    }
  }

  &--lastimage {
    width: 50%;
  }

  &__middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &:hover {
      opacity: 1;
    }
  }

  &__text {
    text-align: center;
    background-color: #999;
    height: 50px;
    width: 140px;
    padding-top: 10px;
    color: #fff;
    font-size: 14px;
    font-family: 'Helvetica', 'Arial', sans-serif;
  }
}
