.brand-item {
  position: relative;
  height: 210px;

  &__content {
    position: absolute;
    width: 100%;
    text-align: center;
    padding-top: 20px;
  }

  &__icon {
    width: 37%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    @mixin atSmall {
      width: 30%;
    }

    @mixin atMedium {
      width: 21%;
      left: 50%;
      transform: translateX(-100%);
    }
  }

  &__descrip {
    position: absolute;
    left: 15%;
    text-align: left;
    margin: 0;
    margin-top: 90px;
    padding: 24px 0 0 0;

    @mixin atSmall {
      margin-top: 110px;
      left: 27%;
    }

    @mixin atMedium {
      left: 50%;
      transform: translateX(5%);
      margin-top: 0;
      padding: 20px 0 0 0;
    }
  }

  &--lower {
    margin-top: 7em;

    @mixin atSmall {
      margin-top: 10em;
    }

    @mixin atMedium {
      margin-top: 2em;
    }
  }

  &__descrip > li {
    list-style: none;
    line-height: 1.3;
    font-size: 1rem;
    font-weight: 100;

    @mixin atMedium {
      line-height: 1.4;
      font-size: 1.1rem;
    }
  }
}
