.btn {
  text-transform: uppercase;
  font-size: 0.875rem;
  font-family: 'Avenir', sans-serif;
  text-decoration: none;
  display: inline-block;

  &--signup {
    color: #fff;
    padding: 15px 30px;
    border: 1px solid $blueLink;
    background-color: $blueLink;
  }
}
