.contact {
 @mixin clearfix;
 padding-bottom: 2rem;

  &__form {
    font-family: 'Avenir', sans-serif;
    font-size: 15px;
    padding-top: 20px;
  }

  &__input {
    position: relative;
    width: 80%;
    padding: 15px 15px;
    border: 1px solid #ccc;
    float: left;
    margin-left: 35px;

    @mixin atSmall {
      margin-left: 50px;
      width: 57%;
    }

    @mixin atMedium {
      width: 40%;
      margin-left: 200px;
    }
  }
}
