.copy {
  color: $bodyCopy;

  &--intro {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 1.21rem;
    font-weight: 100;
    text-align: center;
    letter-spacing: 1px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;

    @mixin atSmall {
      font-size: 1.5rem;
    }
  }

  &--description {
    font-family: 'Helvetica', sans-serif;
    font-size: .95rem;
    line-height: 1.4;
    font-weight: 100;

    & li {
      list-style: none;
      margin-left: 0;
    }
  }
}
