.copy {
  color: $bodyCopy;

  &__intro {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 1.21rem;
    font-weight: 100;
    text-align: center;
    letter-spacing: 1px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;

    @mixin atSmall {
      font-size: 1.5rem;
    }
  }

  &__description {
    font-family: 'Helvetica', sans-serif;
    font-size: .95rem;
    line-height: 1.4;
    font-weight: 100;

    & li {
      margin-left: 0;
    }
  }

  &--news {
    color: #999;
  }

  &__press-email {
    padding-top: 40px;
    font-weight: 100;
    text-align: center;
    font-size: .95rem;
    color: #999;
    text-transform: uppercase;
  }

  &__contact-email {
    color: $blueLink;
    &:hover {
      color: $hoverColor;
    }
  }
}
