/* -- large-hero css -- */

.large-hero {
  position: relative;
  padding-top: 40px;
  border-top: 1px solid #ccc;

  @mixin atSmall {
    padding-top: 0;
  }

  @mixin atMedium {
    padding-top: 50px;
  }

  &__text-content {
    position: absolute;
    top: 0;
    left: 20px;
    max-width: 40rem;

    @mixin atXlarge {
      max-width: 50rem;
      left: 80px;
    }
  }

  &__title {
    font-family: 'Helvetica Neue', sans-serif;
    letter-spacing: 1px;
    font-size: 1.3rem;
    font-weight: 100;

    @mixin atSmall {
      font-size: 2.5rem;
    }

    @mixin atXlarge {
      font-size: 3.2rem;
    }
  }
}
