.row {
  @mixin clearfix;

  &__3 {
    float: left;
    width: 25%;
  }

  &__4 {
    float: left;
    width: 100%;

    @mixin atMedium {
      float: left;
      width: 33.33%;
    }
  }

  &__medium-6 {
    width: 100%;
    float: left;
    margin: 0;
  }

  &__12 {
    width: 100%;
  }

  @mixin atMedium {
    &__medium-6 {
      width: 50%;
    }
  }

  &--gutters-small {
    margin-right: -45px;
  }

  &--gutters-small > div {
    padding-right: 45px;
  }

  &--v-gutter {
    margin-top: 60px;
  }
}
