.site-header {
  padding: 21px 0;
  background-color: #fff;
  height: 4.5rem;
  z-index: 2;

  &--expanded {
    height: 260px;
    background-color: rgba(255, 255, 255, 0.8);
  }

  @mixin atMedium {
    height: 6.25rem;
  }

  &__logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;

    @mixin atSmall {
      width: 34%;
    }

    @mixin atMedium {
      position: absolute;
      width: 20%;
      left: auto;
      transform: translateX(0);
    }
  }

  &__menu-icon {
    width: 20px;
    height: 19px;
    position: absolute;
    top: 25px;
    right: 15px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 3px;
      background-color: #ccc;
      transform-origin: top left;
      transition: transform .2s ease-out;
    }

    &__mid {
      position: absolute;
      top: 8px;
      left: 0;
      width: 20px;
      height: 3px;
      background-color: #ccc;
      transition: all .2s ease-out;
      transform-origin: 0 50%;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 20px;
      height: 3px;
      background-color: #ccc;
      transform-origin:0 100%;
      transition: transform .2s ease-out;
    }

    @mixin atMedium {
      display: none;
    }
  }

  &__menu-icon--closex {
    &::before {
      transform: rotate(45deg) scaleX(1.25);
    }

    .site-header__menu-icon__mid {
      opacity: 0;
      transform: scaleX(0);
    }

    &::after {
      transform: rotate(-45deg) scaleX(1.25) translateY(1px);
    }
  }

  &__menu-content {
    display: none;
    padding-top: 60px;
    text-align: center;

    @mixin atMedium {
      display: block;
      padding-top: 0;
    }

    &--visible {
      display: block;
    }
  }


}
