.visions {
  padding-top: 1.4em;

  &__icon {
    width: 40%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 10px;
  }

  &__text {
    margin-top: 0;
    font-family: 'Helvetica', sans-serif;
    font-size: .95rem;
    line-height: 1.4;
    font-weight: 100;
  }
}
